.loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .6);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: -9999;
  display: flex;
  opacity: 0;

  &.active{
    z-index: 9999;
    opacity: 1;
    transition: all .2s;
  }
  p{
    color: #ffffff;
    font-size: 30px;
  }

  span{
    width: 30px;
    height: 30px;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}